

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

    body {
        background-color: rgb(229, 228, 226);
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding-left: 3%;
        padding-right: 3%;
            }

    .fundoBloco {
        background-color: rgb(245 245 245 / 50%);
        border-radius: 3%;
        padding: 3%;
        margin: 5%;
        box-shadow: 0px 0px 12px rgb(0 0 0 / 8%);
    }

    h1 {
        
        font-weight: 200;
                
    }

    #portfolio{
        color: rgb(109, 148, 109);
    }

    h2 {
        color: rgb(109, 148, 109);
        /* color: rgb(99, 99, 99); */
        /* background-color: white; */
        font-size: 1.5em;
        text-align: center;
    }

    p{
        text-align: justify;
    }

     
    

    .list-style {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        list-style: none;
        padding: 0;
        line-height:1.5;
                
    }

    .menu {
        
        background-color: rgb(99, 99, 99);
        font-family: sans-serif;
        font-size: 15px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 5px;
        border-radius: 2px;
        line-height: 30px;
        text-align: center;
        font-weight: 700;
        
    }

    header {
        top: 0;
        position: fixed;
        max-height: 100px;
        width: 90%;
        margin-left: 2%;
        background-color: rgb(158 158 158 / 90%);
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0px 1px 12px rgb(0 0 0 / 90%);
        
    }
    
    #tituloPortfolio {
        text-align: center;
        padding-top: 30px;        
    }

    #fundoPerfil{
        width: 40%;
        display: inline-block;
        vertical-align:top;
        margin-top: 20px;
        margin-left: 0px;       
    }

    #foto-perfil {
        border-radius: 5%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90%;
        max-width: 300px;        
    }

    #sobreMim {
        width: 40%;
        display: inline-block;
        margin-top: 20px;
        margin-right: 0px;
    }

    #habilidades, #curiosidades{
        width: 40%;
        display: inline-block;
        margin: 1px;
        vertical-align: top;
                 
    }

   /*  #curiosidades{
        width: 500px;
        height: auto;
        display: inline-block;
        margin: 10px
                
    } */


    #redesSociais a {
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
    }

    #fotosV {
        height: 200px;
        padding-bottom: 5%;
    }
    

  /* div {
      border: 2px solid red;
  } */