.about {
  min-height: 100vh;
  position: relative;
}

.about .line-styling {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
  width: 85%;
}

.about .line-styling .style-circle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.about .line-styling .style-line {
  border-radius: 10px;
  height: 5px;
  width: 95%;
}

.about-body {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-around;
  padding-top: 8rem;
}

.about-description {
  align-items: flex-start;
  display: flex;
  flex: 0.5;
  flex-direction: column;
  height: fit-content;
  justify-content: space-evenly;
  width: 100%;
}

.about-description > h2 {
  font-size: 3.5rem;
  margin-bottom: 40px;
}

.about-description > p {
  color: #e0d9d9;
  font-size: 1.25rem;
}

.about-img {
  margin-top: 40px;
  pointer-events: none;
}

.about-img > img {
  flex: 0.5;
  width: 380px;
}

@media ( min-width : 992px ) and ( max-width : 1380px ) {

  .about-description > h2 {
    font-size: 3.3rem;
    margin-bottom: 30px;
  }

  .about-description > p {
    font-size: 1.15rem;
  }

  .about-img > img {
    width: 300px;
  }
}

@media screen and ( max-width : 992px ) {

  .about .line-styling {
    top: 20px;
  }

  .about-body {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding-top: 2rem;
  }

  .about-description {
    box-sizing: border-box;
    flex: 0.6;

    /* padding: 5% 10%; */
    padding: 20px;

  }

  .about-description > h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .about-description > p {
    font-size: 1.1rem;
  }

  .about-img > img {
    flex: 0.4;
    width: 250px;
  }

}

@media screen and ( max-width : 800px ) {

  .about .line-styling .style-circle {
    border-radius: 50%;
    height: 8px;
    width: 8px;
  }

  .about-description > h2 {
    align-self: center;
  }

}

@media screen and ( max-width : 600px ) {

  .about .line-styling .style-circle {
    border-radius: 50%;
    height: 5px;
    width: 5px;
  }

  .about .line-styling .style-line {
    border-radius: 10px;
    height: 3px;
    width: 93%;
  }

  .about-description > h2 {
    font-size: 2.5rem;
  }

  .about-description > p {
    font-size: 0.95rem;
  }

  .about-img > img {
    width: 200px;
  }
}
