/* stylelint-disable max-line-length */
.landing {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.landing-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
}

.landing-img {
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  height: 400px;
  left: 35%;

  /* object-fit: cover; */
  position: absolute;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.landing-container-left {
  align-items: flex-end;
  display: flex;
  flex: 35%;
  height: 100%;
  justify-content: flex-start;
}

.landing-container-left-content {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 3rem;
  width: 100%;
}

.landing-social {
  font-size: 35px;
  margin: 0 1rem;
  transition: transform 0.5s;
}

.landing-social:hover {
  transform: scale(1.2);
}

.landing-container-right {
  align-items: flex-end;
  display: flex;
  flex: 65%;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}


.landing-container-right-content {
  font-family: sans-serif;
  font-style: normal;
  margin-right: 7rem;
  width: 45%;
}

.landing-container-right-content h6 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: -0.85rem;
  opacity: 0.8;
}

.landing-container-right-content h1 {
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 110%;
  margin: 1rem 0;
}


.landing-container-right-content p {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 25px;
  margin-top: 1.45rem;
  opacity: 0.7;
}

.landing-container-right-buttonContainer {
  align-items: center;
  display: flex;
  font-family: 'var(--primaryFont)' , sans-serif;
  justify-content: space-between;
  margin-top: 2rem;
  width: 350px;
}

.landing-container-right-buttonContainer :hover {
  cursor: pointer;
}

/* .resumeBtn {
  border-radius: '30px';
  font-size: 1rem;
  font-weight: 500;
  height: '50px';
  text-decoration: none;
  text-transform: inherit;
  transition: 100ms ease-out;
  width: 150px;
} */


@media ( max-width : 1100px ) {

  .landing-img {
    height: 350px;
  }

  .landing-container-left-content {
    margin: 2rem;
  }

  .landing-container-right-content h6 {
    font-size: 1.1rem;
  }

  .landing-container-right-content h1 {
    font-size: 3rem;
  }

  .landing-container-right-content p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
  }

  .landing-container-right-buttonContainer {
    align-items: flex-start;
    flex-direction: column;
    height: 120px;
    margin-top: 1rem;
    width: 200px;
  }
}

@media ( max-width : 900px ) {

  .landing-img {
    height: 300px;
  }

  .landing-social {
    font-size: 30px;
  }

  .landing-container-right-content {
    margin-right: 6%;
    margin-top: 10%;
    width: 60%;
  }

  .landing-container-right-buttonContainer {
    align-items: flex-start;
    flex-direction: column;
    height: 120px;
    margin-top: 1rem;
    width: 200px;
  }


}

@media ( max-width : 600px ) {

  .landing {
    height: auto;
  }

  .landing-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .landing-container-left {
    min-height: 120px;
    width: 100%;
  }

  .landing-container-left-content {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }

  .landing-container-right {
    align-items: center;
    background-color: #eaeaea;
    box-sizing: borer-box;
    flex: initial;
    height: 70%;
    justify-content: center;
    padding: 0 2rem;
    width: 100%;
  }

  .landing-container-right-content {
    margin-right: initial;
    margin-top: 20%;
    width: 100%;
  }

  .landing-img {
    border: 8px solid #eaeaea;
    height: 200px;
    left: 50%;
    margin-top: 230px;
    position: absolute;
    top: 0%;
    transform: translate(-50%, -50%);

    /* position: absolute;
  transform: translateX(-50%);
  transition: opacity 0.3s; */
  }

  .landing-container-right-buttonContainer button:nth-child( 2 ) {
    display: none;
  }
}


@media ( max-width : 599px ) {

  .landing-container-right-content {
    margin-top: 230px;
  }

  /* .landing-container-left {
    align-items: center;
    justify-content: center;
  } */
}


@media ( max-width : 410px ) {

  .landing-container-right-content {

    /* margin-top: 50%; */
  }

  .landing-container-right-content h6 {
    font-size: 0.9rem;
  }

  .landing-container-right-content h1 {
    font-size: 2rem;
  }


}

/* @media ( max-width : 370px ) {

  .landing-container-right-content {
    margin-top: 250px;
  }
}

@media ( max-width : 330px ) {

  .landing-container-right-content {
    margin-top: 300px;
  }
}

@media ( max-width : 300px ) {

  .landing-container-right-content {
    margin-top: 300px;
  }
}
 */
