.singleProject {
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 360px;
  justify-content: center;
  overflow: hidden;
  padding: 1.4rem 2rem;
  position: relative;
  width: 304px;
}

.projectContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.projectContent > h2 {
  font-family: var(--primaryFont);
  font-size: 1.525rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-align: center;
}

.projectContent > img {

  /* width: 100%; */
  height: 60%;
  transition: opacity 0.7s 0.3s;
}

.singleProject:hover img {
  opacity: 0;
}

.project--showcaseBtn {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project--showcaseBtn > a {
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.5s 0.3s;
}

.singleProject:hover .project--showcaseBtn a:nth-child( 2 ) {
  transform: translateX(-140px) scale(1.1);
}


.singleProject .project--desc {
  align-items: center;
  border-radius: 0 20px 20px 0;
  display: flex;
  font-family: var(--primaryFont);
  height: 160px;
  justify-content: center;
  left: 0;
  line-height: 110%;
  padding: 15px;
  position: absolute;
  top: 0;
  transform: translate(-110%, 40%);
  transition: transform 0.9s;
  width: 95%;
}

.singleProject:hover .project--desc {
  transform: translate(-2%, 40%);
}

.singleProject .project--lang {
  border-radius: 10px 0 0 10px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.825rem;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s 0.3s;
  width: 140px;
}

.singleProject:hover .project--lang {
  transform: translateX(0);
}

.project--lang > span {
  font-family: var(--primaryFont);
  font-weight: 500;
  line-height: 100%;
  word-break: break-word;
}
