.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 60vh;
  padding: 2.5rem 2rem 2rem;
}

.skillsHeader {
  align-items: center;
  display: flex;
  justify-content: center;
}

.skillsHeader h2 {
  font-family: var(--primaryFont);
  font-size: 3.5rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.skillsContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  padding: 0 2rem;
  width: 100%;
}

.skill-scroll {
  margin: 0 2rem;
  width: 100%;
}


.skill--box {
  align-items: center;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: center;
  margin: 1.5rem;
  padding: 2rem 1rem;
  transition: 300ms ease-in-out;
  width: 160px;
}

.skill--box:hover {
  transform: scale(1.15);
}


.skill--box > img {
  height: 50px;
  pointer-events: none;
}


.skill--box h3 {
  font-family: Big Shoulders Text;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  margin-top: 1rem;
  text-align: center;
}


.marquee {
  padding: 3rem 0;
}


@media ( min-width : 992px ) and ( max-width : 1380px ) {

  .skills {
    padding: 2rem 1rem 1rem;
  }

  .skillsContainer {
    margin-top: 1.5rem;
    padding: 1.5rem;
  }
}


@media screen and ( max-width : 992px ) {

  .skills {
    min-height: 100%;
    padding: 1rem;
  }

  .skillsContainer {
    margin: 1rem 0;
    padding: 1rem;
  }

  .skillsHeader h2 {
    font-size: 3.2rem;
  }

  .skill--box {
    height: 150px;
    margin: 1.2rem;
    padding: 2rem 1rem;
    width: 150px;
  }

  .skill--box > img {
    height: 45px;
  }


  .skill--box h3 {
    font-size: 20px;
    margin-top: 1rem;
  }

}

@media screen and ( max-width : 800px ) {

  .skills {
    padding: 0.5rem;
  }

  .skillsContainer {
    padding: 0.5rem;
  }

  .skillsHeader h2 {
    font-size: 3rem;
  }

  .skill--scroll {
    margin: 0;
    width: 100%;
  }
}

@media screen and ( max-width : 600px ) {

  .skill--box {
    height: 135px;
    margin: 1.2rem;
    padding: 2rem 1rem;
    width: 135px;
  }

  .skill--box > img {
    height: 40px;
  }

  .skillsHeader h2 {
    font-size: 2.5rem;
  }

  .skill--box h3 {
    font-size: 18px;
    margin-top: 1rem;
  }
}

@media screen and ( max-width : 400px ) {

}

@media only screen and ( minwidth : 320px ) and ( maxwidth : 480px ) and ( device-pixel-ratio : 2 ) and ( device-aspect-ratio : 2/3 ) {

}


@media only screen and ( device-width : 768px ) {

}
